{% extends "base.html" %}

{% block titulo %} Proveedores {%endblock%}

{% block contenido %} 

<div class="container">
    <div class="row">
        <div class= "div.col-md-12 search">
            <form method="get">
                <div id="custom-search-input">
                    <input type="text" class="form-control" placeholder="Buscar..." name="buscar">
                    <span class="input-group-list">
                      <i class="icon iconsearch"></i>  
                      <button type="submit" class="boton btn success"></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'agregarproveedor' %}" role="button">Agregar Proveedor</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Proveedores</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Empresa</th>
                    <th>Proveedor de...</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>

                {% for Proveedor in Proveedors %}
                <tr>
                    <td >{{Proveedor.id}}</td>
                    <td>{{Proveedor.nombre}}</td>
                    <td>{{Proveedor.empresa}}</td>
                    <td>{{Proveedor.productoprov}}</td>
                    <td>
                        <a name="" id="" class="btn btn-danger" href="{% url 'eliminarproveedor' Proveedor.id %}" role="button">Borrar</a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

{%endblock%}